.hidden {
    display: none;
}

/* when you have minimal content, but want full height */
html, body {
    height: 100%;
}

body {
    background-color: #cfcfcf;
    background-image: url(../images/background.webp);
    background-size: cover;
    background-blend-mode: multiply;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

span {
    color:rgb(143, 9, 9);
}

header {
    background-color: rgb(255, 255, 255);
    padding: 50px 0 40px 0;
}

#main-logo {
    width: 500px;
    margin: 0 auto;
    display: block;
}

#character-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#character-nav ul li {
    height: 200px;
    margin: 20px 20px; /*top, botttom, left right*/
    background-color: black;
    box-shadow: 0 155px 0 0 rgb(143, 9, 9) inset;
    transition: box-shadow 0.75s ease-in-out;
}

#character-nav ul li:hover {
    box-shadow: 0 200px 0 0 rgb(88, 2, 2) inset;
}

#character-nav ul li h2 {
    color: white;
    font-size: 16px;
    text-align: center;
}

#character-nav ul li a {
    text-decoration: none;
}

.sprite {
    width: 150px;
    height: 150px;
    background-image: url(../images/screamsprite.png)
}

#billy {
    background-position: -150px 0;
}

#randy {
    background-position: -300px 0;
}

#gale {
    background-position: -450px 0;
}

#dewey {
    background-position: -600px 0;
}

#stu {
    background-position: -750px 0;
}

#sidney:hover, #billy:hover, #randy:hover, #gale:hover, #dewey:hover, #stu:hover{
    background-position-y: -150px;
}

#instructions {
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.50);
}

#instructions h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 14px;
}

footer {
    padding: 10px 0;
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 100%;
    color: rgb(0, 0, 0);
}


/* all light boxes get these rules, that's why cap appears for all of them */

/* Lightbox is set to display none, hidden for now */
.lightbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.85);
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: top left;
    display: none;
    text-align: right;
}

#lightbox1 {
     background-image: url(../images/ghostface1.png);
     background-position: -100px bottom;
     background-size: 800px;
}

/* we overwrite cap using specific ids */
#lightbox2 {
    background-image: url(../images/ghostface2.png);
}

#lightbox3 {
    background-image: url(../images/ghostface3.png);
}

#lightbox4 {
    background-image: url(../images/ghostface4.png);
    background-position: 0 bottom;
    background-size: 40%;
}

#lightbox5 {
    background-image: url(../images/ghostface5.png);
}

#lightbox6 {
    background-image: url(../images/ghostface6.png);
    background-position: -150px bottom;
    background-size: 70%;
}

/* target allows us to show content based on the url
e.g. #lightbox, #lightbox2, #lightbox3  */

/* selecor would be .lightbox#lightbox2, .lightbox#lightbox3  */

.lightbox:target {
    display: block !important;
}

.lightbox-close {
    color: white;
    font-size: 3em;
    text-decoration: none;
    font-weight: bolder;
    margin-right: 20px;
    margin-top: 20px;
}

.lightbox-close:hover { 
    opacity: 0.5; color: rgb(143, 9, 9); 
}

.lightbox article {
    width: 600px;
    margin-left: 40%;
    padding-top: 50px;
}

.lightbox p, .lightbox h3 {
    text-align: left
}